/*TOOLBAR*/
a:link, a:visited  {

  color: black;

  padding: 10px 20px;
  text-align: right;
  text-decoration:none;

  font-size:30px;
  display: inline-block;

}

a:hover{
color:white;
font-size: 200%;
font-family: Verdana;
}


/* ICONEN STYLING*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}



/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}
/*Instagram*/
.fa-instagram {
  background: #125688;
  color: white;
}


#myVideo {
  width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

/*PROFILE CARDS*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
