a:link, a:visited  {

  color: black;

  padding: 10px 20px;
  text-align: right;
  text-decoration:none;

  font-size:30px;
  display: inline-block;

}

a:hover{
color:white;
font-size: 200%;
font-family: Verdana;
}


