a:link, a:visited  {

  color: black;

  padding: 10px 20px;
  text-align: right;
  text-decoration:none;

  font-size:30px;
  display: inline-block;

}

a:hover{
color:white;
font-size: 200%;
font-family: Verdana;
}

#myVideo {
  width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
