<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="Style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div class="navbar">
    <div class="Layout">
        <video autoplay muted loop id="myVideo">
            <source src="Pictures/video.mp4" type="video/mp4">
        </video>
    </div>
    <nav>
        <ul>
            <li><a href="Home.html"><i class="fa fa-fw fa-home"></i><b>Home</b></a></li>
            <li><a href="AboutUs.html"><i class="fa fa-fw fa-question"></i><b>About us</b></a></li>
            <li><a href="EnergyConservation.html"><i class="fa fa-fw fa-lightbulb-o"></i><b>Energy Conservation</b></a></li>
            <li><a href="ContactUs.html"><i class="fa fa-fw fa-envelope"></i> <b>Contact Us</b></a></li>
            <li><a href="Login.html"><i class="fa fa-fw fa-user"></i><b>Login</b></a></li>
        </ul>
    </nav>
</div>

<div style="color:white;font-family:verdana;position: absolute;top: 90px;left: 40px;"><b>
    The trend of the rising energy prices has gone unnoticed to no one. Future expectations have led to a great attention for energy conservation in the home environment.
    This goes for student rooms equally: landlords and students should be aware of the energy usage in their rooms. We have generated a program which allows both parties
    to analyse and hopefully decrease their electricity bill. ........
</b></div>
</body>
</html>
