<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Functions</title>
    <link rel="stylesheet" href="../folder%20css/Style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {font-family: Arial, Helvetica, sans-serif;}

        nav{
            margin-left:10px;


        }

        nav ul li{
            display: inline-block;
            list-style: none;
            margin: 20px;
        }

        nav ul li a{
            text-decoration: none;
            color: white;
        }
    </style>
</head>

<body style="background-color:darkgray;">

<div class="container-fluid">

    <nav>
        <ul>
            <li><a href="index"><i class="fa fa-fw fa-home"></i><b>Home</b></a></li>
            <li><a href="ContactUs"><i class="fa fa-fw fa-envelope"></i> <b>Contact Us</b></a></li>
        </ul>
    </nav>
</div>
<br><br><br><br><br>
<div class="row">

    <a href="Appliances">
        <div class="Card card6">
            <h2>Register Appliance</h2>

        </div>
    </a>

    <a href="Actions">
        <div class="Card card7">
            <h2>Register Energy Conservation Action</h2>

        </div>
    </a>
    <a href="MonthlyEnergyConsumption">
        <div class="Card card8">
            <h2>Register Monthly Energy Consumption</h2>

        </div>
    </a>

</div>



</body>
</html>