<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../folder%20css/Style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<div class="container-fluid">
    <div class="Layout">
        <video autoplay muted loop id="myVideo">
            <source src="Pictures/video.mp4" type="video/mp4">
        </video>
    </div>
    <nav>
        <ul>
            <li><a href="index.html"><i class="fa fa-fw fa-home"></i><b>Home</b></a></li>
            <li><a href="ContactUs.html"><i class="fa fa-fw fa-envelope"></i> <b>Contact Us</b></a></li>
            <li><a href="Login.html"><i class="fa fa-fw fa-user"></i><b>Login</b></a></li>
        </ul>
    </nav>
</div>
<br><br><br><br><br>
<div class="row">

    <a href="Location.html">
        <div class="Card card5" >
            <h2>Add Student Room</h2>

        </div>
    </a>
    <a href="Appliances.html">
        <div class="Card card6">
            <h2>Register Appliance</h2>

        </div>
    </a>

    <a href="Actions.html">
        <div class="Card card7">
            <h2>Register Energy Conservation Action</h2>

        </div>
    </a>
    <a href="MonthlyEnergyConsumption.html">
        <div class="Card card8">
            <h2>Register Monthly Energy Consumption</h2>

        </div>
    </a>

</div>



</body>
</html>