<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="Style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

 <div class="container-fluid">
        <div class="Layout">
            <video autoplay muted loop id="myVideo">
                <source src="Pictures/video.mp4" type="video/mp4">
            </video>
        </div>
        <nav>
            <ul>
                <li><a href="Home.html"><i class="fa fa-fw fa-home"></i><b>Home</b></a></li>
                <li><a href="ContactUs.html"><i class="fa fa-fw fa-envelope"></i> <b>Contact Us</b></a></li>
                <li><a href="Login.html"><i class="fa fa-fw fa-user"></i><b>Login</b></a></li>
            </ul>
        </nav>
    </div>
    <br><br><br><br><br>
    <div class="row">
        <div class="col">

        <h1 style="color: white; font-size:300%;">Student Energy Conservation</h1>
        <p style="color: Antiquewhite;">With energy prices rising dramatically, the overall concern and attention regarding electricity usage is high.
        This tool will assist you in analyzing and optimizing the energy consumption for your student room(s).</p>
    </div>

    <div class="col">

        <div class="Card card1">
            <h2>Analyse your electricity usage</h2>

        </div>
        <div class="Card card2">
            <h2>Your biggest energy consumers</h2>

        </div>
        <div class="Card card3">
            <h2>Detailed analyses of your building</h2>

        </div>
        <div class="Card card4">
            <h2>Decrease your energy bill</h2>

        </div>


    </div>

</div>



</body>
</html>