<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../folder%20css/Style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        body {font-family: Arial, Helvetica, sans-serif;}



        nav{
            margin-left:10px;


        }

        nav ul li{
            display: inline-block;
            list-style: none;
            margin: 20px;
        }

        nav ul li a{
            text-decoration: none;
            color: white;
        }


    </style>
</head>

<body style="background-color:darkgray;">

 <div class="container-fluid">

        <nav>
            <ul>
                <li><a href="index"><i class="fa fa-fw fa-home"></i><b>Home</b></a></li>
                <li><a href="ContactUs"><i class="fa fa-fw fa-envelope"></i> <b>Contact Us</b></a></li>
                <li><a href="Login"><i class="fa fa-fw fa-user"></i><b>Login</b></a></li>
            </ul>
        </nav>
    </div>
    <br><br><br><br><br>
    <div class="row">
        <div class="col">

        <h1 style="color: white; font-size:300%;">Student Energy Conservation</h1>
        <p style="color: Antiquewhite;">With energy prices rising dramatically, the overall concern and attention regarding electricity usage is high.
        This tool will assist you in analyzing and optimizing the energy consumption for your student room(s).</p>
    </div>

    <div class="col">

        <div class="Card card1">
            <h2>Analyse your electricity usage</h2>


        </div>
        <div class="Card card2">
            <h2>Your biggest energy consumers</h2>

        </div>
        <div class="Card card3">
            <h2>Detailed analyses of your building</h2>

        </div>
        <div class="Card card4">
            <h2>Decrease your energy bill</h2>

        </div>
    </div>
</div>
</body>
</html>