

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="Style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head> <!--css import-->

<body>
<div class="container-fluid">
    <div class="Layout">
        <video autoplay muted loop id="myVideo">
            <source src="Pictures/video.mp4" type="video/mp4">
        </video>
    </div>
    <nav>
        <ul>
            <li><a href="Home.html"><i class="fa fa-fw fa-home"></i><b>Home</b></a></li>
            <li><a href="toevoegenstudent.html"><i class="fa fa-fw fa-question"></i><b>Toevoegen Student</b></a></li>
            <li><a href="EnergyConservation.html"><i class="fa fa-fw fa-lightbulb-o"></i><b>Energy Conservation</b></a></li>
            <li><a href="ContactUs.html"><i class="fa fa-fw fa-envelope"></i> <b>Contact Us</b></a></li>
            <li><a href="Login.html"><i class="fa fa-fw fa-user"></i><b>Login</b></a></li>
        </ul>
    </nav>
</div>

<form action="#" th:action="@{/Location}" method="post" th:object="${location}" >
    <div class="RegisterBox">
        <h1>Register as a Landlord</h1>
        <label for="Country" class="form-label">Country:</label>
        <input th:field="*{country}" type="text"  id="Country">

        <label for="City" class="form-label">City:</label>
        <input th:field="*{city}" type="text"  id="City">

        <label for="zip" class="form-label">ZIP:</label>
        <input th:field="*{ZIP}" type="text"  id="zip">

        <label for="Street" class="form-label">Street:</label>
        <input th:field="*{street}" type="text" id="Street">

        <label for="Number" class="form-label">Number:</label>
        <input th:field="*{number}" type="text" id="Number">

        <label for="Area" class="form-label">Area:</label>
        <input th:field="*{area}" type="text"  id="Area">


        <label for="Characteristics" class="form-label">Characteristics:</label>
        <input th:field="*{characteristics}" type="text"  id="Characteristics">

        <div class="custom-control custom-checkbox">
            <input th:field="*{insulated}" type="checkbox" class="custom-control-input" id="checkInsulation">
            <label class="custom-control-label" for="checkInsulation">Insulated (Check the box if insulated)</label>
        </div>

        <button type="submit" >Create profile</button>

    </div>

</form>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
<!--
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
-->
</div>

</body>
</html>