<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="Style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head> <!--css import-->

<body>
<div class="navbar">
    <div class="Layout">
        <video autoplay muted loop id="myVideo">
            <source src="Pictures/video.mp4" type="video/mp4">
        </video>
    </div>

    <nav>
        <ul>
            <li><a href="index.html"><i class="fa fa-fw fa-home"></i><b>Home</b></a></li>

            <li><a href="ContactUs.html"><i class="fa fa-fw fa-envelope"></i> <b>Contact Us</b></a></li>

        </ul>
    </nav>
</div> <!--navbar-->

<form class="modal-content animate" th:action="@{/Login}" th:object="${Loginform}" method="post">
    <div class="imgcontainer">
        <img src="Pictures/keys.png" style="width:30%">

    </div>

    <div class="container">

        <input type="text" placeholder="Enter Email Address" name="uname" required>


        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Login</button>
    </div>

    <div class="registerbuttons">
        <button> <a href="RegisterAsStudent.html" class="secondButton">Register As Student</a></button>
    </div><div class="registerbuttons">
        <button> <a href="RegisterAsLandlord.html" class="secondButton">Register As Landlord</a></button>
    </div>
</form>

</body>
</html>