<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            background-color: #FFFFFF;
            border: 1px solid #000000;

        }

        td, th {
            border: 1px solid #000000;

            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #FFFFFF;
        }
    </style>
</head>
<body>
<form action=# th:action="@{/FunctionscreenLandlord}" method="post" th:object="${room}" >
    <h1>Rooms</h1>

    <table>
        <thead>
        <tr>
            <th scope="col">Country</th>
            <th scope="col">City</th>
            <th scope="col">ZIP</th>
            <th scope="col">Street</th>
            <th scope="col">Number</th>
            <th scope="col">Area</th>
            <th scope="col">Characteristics</th>
            <th scope="col">Insulated</th>
            <th scope="col">Room Number</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room : ${rooms}">
            <td th:text="${room.}"></td>
            <td th:text="${student.name}">
            <td th:text="${student.fullTime}"></td>
            <td th:text="${student.graduate}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>