
/*VIDEO-ACHTERGROND*/
#myVideo {
  width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

/* ICONEN STYLING*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}
/*Instagram*/
.fa-instagram {
  background: #125688;
  color: white;
}

/*PROFILE CARDS*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 210px;
  margin: auto;
  text-align: center;
  float: left;
  margin: 18px;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

body {font-family: Arial, Helvetica, sans-serif;}


.navbar {
  height:12%;
  display: flex;
  align-items: center;
}

nav{
    margin-left:10px;


}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
}

.col{
    flex-basis: 50%;
}

.Card{
    color: white;
    width:300px;
    height:230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    margin: 10px 10px 10px 10px;

    background-position:center;
    background-size: cover;

}

.card1{
    background-image: url(rating.png);
}
.card2{
    background-image: url(fridge.png);
}
.card3{
    background-image: url(gebouw.jpg);
}
.card4{
    background-image: url(bill.jpg);
}